/* RESET */

img {
    max-width: 100%;
}

.wrapper {
    width: 100%;
    height: 100vh;
}

/* Header */

header {
    /* debug */
    height: 80px;
    background-color: lightblue;
}

.logo {
    width: 50px;
    height: 50px;
}

/* Main */

main {
    height: calc(100% - 80px);
}

/* Sidebar */

.sidebar {
    width: 70px;
    background-image: url(../img/sidebar-bg.png);
    background-color: #12293E;
}

.sidebar i {
    font-size: 20px;
    color: white;
}

.sidebar span {
    color: white;
    display: none;
}

.equalizer {
    width: 30px;
    height: 30px;
}

@media screen and (min-width: 992px) {
    .sidebar {
        width: 150px;
    }

    .sidebar span {
        display: inline-block;
    }
}

/* Dashboard */

.dashboard {
    /* debug */
    background-color: lightseagreen
}